.note-preview {
    height: 80%;
}

/* note-list */
.note-container {
    color: #202124;
    font-size: 14px;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 8px;
    margin: 1rem;
    width: 250px;
    /* background-color: bisque; */
}

.note-preview-container{
    page-break-inside: avoid; 
}
.note-controlers {
    
}

.note-controlers button {
    border: none;
    background: none;
    color: #525252;
    font-size: 1.1rem;
    padding: .5rem;
}

.note-controlers button:first-of-type {
    padding: .5rem .65rem;
}

.note-controlers button:hover {
    border-radius: 50%;
    /* background-color: rgb(212, 212, 212); */
   
}

.note-type {
    margin-block-start: 10px;
    font-size: 1.3rem;
}

.colors-container{
    position: absolute;
    width: 109px;
    height: 110px;
    border: 1px solid #0000004f;
    z-index: 1;
    background-color: #fff;
    right: 80px;
    bottom: 25px;
    padding: 5px;
    box-shadow: inset 0 0 1px 0px black;
}

.colors-container >*{
    display: inline-block;
    height: 26px;
    width: 26px;
    margin: 2px;
    border-radius: 50%;
    border: 1px solid #00000026;
}
.note-controlers i {
    color: darkgray;
}
/* note-types */
.content-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 8px;
}

.content-container h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.note-img {
    min-width: -webkit-fill-available;
    height: 200px;
    border-radius: 8px;
}
.text-container{
    height: 100%;
    padding:10px 10px;
}

li.todo-task p {
    font-family: roboto-regular;
    padding-inline-start: 10px;
}

.transition-container{
    width: 100%;
    height: 100%;
    justify-content: center;
}

.keep-app h3 {
    font-family: roboto-regular;
}


@media (max-width: 550px) {
    .columns {
        column-count: 2;
    }
    .note-container {
        width: 200px;
    }
}
@media (max-width: 460px) {
    .columns {
        column-count: 1;
    }
    .note-container {
        width: 240px;
    }
}